    <footer class="block block-footer-1">
      <div class="container">
        <p>© 2021 Kenichi Yamada<br><a href="license.html" title="イラストのライセンス">イラストのライセンス</a></p>
      </div>
    </footer>
    <script src="../assets/js/hideMenu.js"></script>
<script defer>
        if ("serviceWorker" in navigator) {
            /*Service Worker登録
            (引用:https://developers.google.com/web/fundamentals/primers/service-workers)*/
            window.addEventListener("load", function () {
                navigator.serviceWorker.register("sw.js").then(
                    function (registration) {
                        // Registration was successful
                        console.log(
                            "ServiceWorker registration successful with scope: ",
                            registration.scope
                        );
                    },
                    function (err) {
                        // registration failed :(
                        console.log("ServiceWorker registration failed: ", err);
                    }
                );
            });
        }
    </script>
  </body>
</html>
