</div>
   <footer class="block block-footer-1">
      <div class="container">
        <p>© 2022 Frog<br><a href="/license" title="イラストのライセンス">イラストのライセンス</a></p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script src="/assets/js/pjax.js"></script>
    <script src="/assets/js/dom.js" defer></script>
    <script data-goatcounter="https://2vyj09dj8fxuy8uygrir.goatcounter.com/count" async
        src="//gc.zgo.at/count.js"></script>
    <script defer>
        if ("serviceWorker" in navigator) {
            /*Service Worker登録
            (引用:https://developers.google.com/web/fundamentals/primers/service-workers)*/
            window.addEventListener("load", function () {
                navigator.serviceWorker.register("sw.js").then(
                    function (registration) {
                        // Registration was successful
                        console.log(
                            "ServiceWorker registration successful with scope: ",
                            registration.scope
                        );
                    },
                    function (err) {
                        // registration failed :(
                        console.log("ServiceWorker registration failed: ", err);
                    }
                );
            });
        }
    </script>
  </body>
</html>
